<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script src="https://kit.fontawesome.com/4f32920e14.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="home" href="/home">Home</a></li>
            <li><a class="share" href="/share">Share your recepies</a></li>
            <li><a class="active" href="/favourite">Favourite recepies *</a></li>
            <li><a class="grocery" href="/grocery">Grocery list</a></li>
            <li><a class="login" href="/login">Login</a></li>
        </ul>
    </div>

    <div class="favmain">
        <li class="eachpost">
            <% if (favpost && favpost.length > 0) { %>
                <% favpost.forEach(favpost => { %>
                    <a href="/recipe/<%= favpost.id %>">
                        <%= favpost.text1 %>
                        <% if(favpost.text3 != ''){ %>
                            <img src="<%= favpost.text3 %>">
                        <% } %>
                    </a>
                <% }); %>
            <% } else { %>
                <p>You don't have any favourite recepies! <a href="/home">Go find some</a></p>
            <% } %>
        </li>
    </div>
</body>
</html>