<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script src="https://kit.fontawesome.com/4f32920e14.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="home" href="/home">Home</a></li>
            <li><a class="share" href="/share">Share your recepies</a></li>
            <li><a class="favourite" href="/favourite">Favourite recepies *</a></li>
            <li><a class="active" href="/grocery">Grocery list</a></li>
            <li><a class="login" href="/login">Login</a></li>
        </ul>
    </div>

    <ul>
      </ul>
      <form action="/add" method="post">
        <label for="item">Add Item:</label>
        <input type="text" id="item" name="item" required>
        <button type="submit">Add</button>
      </form>
      <form action="/remove" method="post">
        <label for="item">Remove Item:</label>
        <select id="item" name="item">
          <% items.forEach(item => { %>
            <option value="<%= item %>"><%= item %></option>
          <% }); %>
        </select>
        <button type="submit">Remove</button>
      </form>
      <% items.forEach(item => { %>
        <li><%= item %></li>
      <% }); %>
      
      <div class="cartgroc">
        <% if (cart && cart.length > 0) { %>
          <% cart.forEach(cart => { %>
            <li><%= cart.ingredients %></li>
          <% }); %>
        <% } else { %>
          <p>Your cart is empty.</p>
        <% } %>
      </div>
</body>
</html>