<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a class="home" href="/home">Home</a></li>
            <li><a class="share" href="/share">Share your recepies</a></li>
            <li><a class="favourite" href="/favourite">Favourite recepies *</a></li>
            <li><a class="grocery" href="/grocery">Grocery list</a></li>
            <li><a class="active" href="/login">Login</a></li>
        </ul>
    </div>

    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required/><br/><br/>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required/><br/><br/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/><br/><br/>
        <button type="submit">Register</button><br/>

        <p>Already have an account? <a href="/login"><strong>Login</strong></a></p>
    </form>

    <div>
        <% if (errors) { %>
            <% errors.forEach(function(error) { %>
                <div class="alert alert-danger"><%= error.msg %></div>
            <% }); %>
        <% } %>

        <% if (errorMessage) { %>
            <div><%= errorMessage %></div>
        <% } %>
    </div>

    <div>
        <br>
        <h3>Why become a member?</h3>
        <p>Because you can share your own recepies</p>
    </div>
</body>
</html>